@model ProdutoModel

@{
    ViewData["Title"] = "Lista de Produtos";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SucessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SucessMessage"]
    </div>
}

<form>
    <div class="mb-3">
        <label for="AddProduto" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" id="AddProduto">
        @Html.ValidationMessageFor(o => o.Nome)
    </div>
    <div class="mb-3">
        <label for="AddProduto" class="form-label">Preço</label>
        <input type="number" asp-for="Preco" class="form-control" id="AddProduto">
        @Html.ValidationMessageFor(o => o.Preco)
    </div>
    <button type="submit" class="btn btn-primary" asp-action="AdicionarProduto">Adicionar</button>

    <a asp-controller="Admin" asp-action="TabelaProdutos" role="button" class="btn btn-group">Produtos disponíveis</a>
</form>
